:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

.music-player {
  max-width: 600px;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 5px rgb(175, 175, 175);
  position: relative;
}

.music-player__picture {
  position: relative;
  top: -40px;
  margin-bottom: -30px;
  padding: 0 2rem;
}

.music-player__picture img {
  border-radius: 10px;
  object-fit: fill;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0;
}

.music-player__song-title {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.music-player__singer-name {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  color: rgb(129, 129, 129);
}

.duration {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.duration span {
  font-weight: 300;
  font-size: 0.75rem;
}

.music-player__progress {
  border-radius: 10px;
  height: 4px;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.music-player__progress__fill {
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: rgb(126, 126, 126);
}

.music-player__controller {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player__controller button {
  cursor: pointer;
  user-select: none;
  color: rgb(126, 126, 126);
  font-size: 0.7rem;
  border: 0;
  background-color: transparent;
  padding: 1rem 0.5rem;
}

.music-player__controller button:nth-child(1) {
  margin-right: 15px;
}

.music-player__controller button:nth-child(3) {
  margin-left: 15px;
}
